.header_title img {
	margin-left: 300px;
	margin-top: 50px;
}

.headerlinks  {
	color: black;
	float: right;
	font-size: 15px;
	text-decoration: none;
	font-family: Verdana;
	margin-right:20px;
	text-align: right;
  display: inline;
}

.active {
    background-color: white;
}

.headerlinks a {
  padding: 20px;
  transition: background-color 0.5s ease;
	border-radius: 20px;
	margin-left: 5px;
	border-style: groove;
  border: 1px solid #ccc;
  cursor: auto;
}

form {
	margin: 40px auto;
	width: 500px;
	text-align: center
}

.placeholder {
	padding:8px 30px;
  background:rgba(50, 50, 50, 0.2);
  border:0px solid #dbdbdb;
}

.form-button {
	position:relative;
  padding:6px 15px;
  left:-8px;
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
  border-radius: 20px;
}

.form-button:hover {
	background-color:#fafafa;
  color:#207cca;
}


/*
.results a{
	margin-left: 30px
}*/


body {
	background-image: url("background2.jpg");
}

#cloud {
	width: 370px; height: 120px;
	
	background: #f2f9fe;
	background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	opacity: 0.8;

	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	
	position: relative;
	margin: 120px auto 20px;
	margin-left: 550px;
}

#cloud:after, #cloud:before {
	content: '';
	position: absolute;
	background: #f2f9fe;
	z-index: -1
}

#cloud:after {
	width: 100px; height: 100px;
	top: -50px; left: 50px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

#cloud:before {
	width: 180px; height: 180px;
	top: -90px; right: 50px;
	
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

.shadow {
	width: 350px;
	position: absolute; bottom: -10px; 
	background: #000;
	z-index: -1;
	
	box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0
}

.results {
	margin-left: 60px;
	font-family: Arial;
	opacity: 1.0;
}

body a:link {
	color: darkgrey;
	text-decoration: none;
}

body a:hover {
	color: blue;
	text-decoration: none;
}


a:visited {
	text-decoration: none;
}

.hlinks {
	color: black;
	font-family: Arial;
}