.header_title a {
	margin-left: 300px;
}

/*.headerlinks a {
	color: teal;
	float: center;
	padding-left: 10px;
	padding-top: 16px;
	font-size: 15px;
	font-style: normal;
	text-decoration: none;
	font-family: Verdana;
}*/

form {
	margin: 40px auto;
	width: 500px;
	text-align: center
}

.placeholder {
	padding:8px 15px;
  background:rgba(50, 50, 50, 0.2);
  border:0px solid #dbdbdb;
}

.form-button {
	position:relative;
  padding:6px 15px;
  left:-8px;
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
}

.form-button:hover {
	background-color:#fafafa;
  color:#207cca;
}

.results {
	margin-left: 550px;
	font-family: Arial;
}

body {
	background-image: url("background2.jpg");
}

body a:hover {
	color: yellow;
	text-decoration: none;
}

body a:link {
	color: darkgrey;
	text-decoration: none;
}

body a:visited {
	color: indigo;
	text-decoration: none;
}
