<form action="/urls" method="post">
	Enter URL:
	<input type = "text" name = "long_url">
	<input type = "submit" value = "Submit">
</form>

<div>
	<%=error if @error%>
</div>

<% @url.each do |urls| %>
	<a href="<%= urls.shorturl %>">http://localhost:9393/<%= urls.shorturl %></a><p><%= urls.clickcount %></p>
<% end %>
	


