<form action="/urls" method="post">
	Enter URL:
	<input type = "text" name = "long_url">
	<input type = "submit" value = "Submit">
</form>

<div>
	<%=error if @error%>
</div>


	<p><a href="<%= @url.shorturl %>">http://localhost:9393/<%= @url.shorturl %></a></p>
